/*Multiple backgrounds: first url on top, second under, coma ',' between
them
when we specify longhand values if we give two different values for each
image, we demarcate it by coma*/
#banner{
    background-color: #606060;
    width: 100%;
    height: 300px;
    background: url("../images/download-tips.png"), url("../images/warty-final-ubuntu.png");
    background-repeat: no-repeat, no-repeat;/*Because we apply the same
    value to both images we don't have to repeat it, if there would be
    two different value we can separate it by coma*/
    background-position: center, top left;
    background-size: 150px, 100%;
}